<html>

<head>
    <style>
        .label {
            display: inline-block;
            width: 6em;
        }
    </style>
</head>

<body>

    <h1>Total Score</h1>

<!-- <span><span class='label'>User:</span>
    <%= bug.fname %> <%= bug.lname %>
        </span><br>
    <span><span class='label'>Title:</span>
    <%= bug.title %>
        </span><br>
        <span><span class='label'>Description:</span>
        <%= bug.description %>
            </span><br>
            <span><span class='label'>Issue:</span>
            <%= bug.issue %>
                </span><br>
              
                <span><span class='label'>Priority:</span> 
                <%= bug.priority %>
                </span><br> <br>

                <span><span class='label'>Status:</span> 
                    <%= bug.status %> -->
                        <!-- </span><br> -->

                    <p>
                        <a href="/bugs">Back To Starting</a>
                        <a href="/bugs/<%= bug.id %>/edit">Update Answers</a>
                    </p>

</body>

</html>