 <% 
  if (user.id) {
    submitLabel = "Update user";
    route = `/users/${user.id}`;
  } else {
    submitLabel = "Create user";
    route = "/users";
  }
%> 
    <% if (user.errors.length > 0) { %>
        <% console.log("Found errors"); console.log(user.errors); %>
            <div>
                <p>Errors:</p>
                <ul>
                    <%- user.errors.map((item) => `<li>${item}</li>` ).join("\n"); %>
                </ul>
            </div>
            <% } %>

            <form action="<%=route%>" accept-charset="UTF-8" method="post">
                <div class="field">
                    <label for="user_fname">First name</label>
                    <textarea name="user[fname]" id="user_fname "><%= user.fname %></textarea>
                </div>

                <div class=" field ">
                    <label for="user_lname ">Last Name</label>
                    <textarea name="user[lname]" id="user_lname "><%= user.lname %></textarea>
                </div>

                <div class="field ">
                    <label for="user_email ">Email</label>
                    <textarea name="user[email]" id="user_email "><%= user.email %></textarea>
                </div>

                <div class="field ">
                    <label for="user_thumbnail ">Thumbnail</label>
                    <textarea name="user[thumbnail]" id="user_thumbnail "><%= user.thumbnail %></textarea>
                </div>

                <div class="actions ">
                    <input type="submit" name="commit" value="<%= submitLabel %>" />
                </div>

            </form>